<div class="container-fluid h-100">
    <div class="row p-0">
        <div class="col-sm d-flex flex-row justify-content-between align-items-center p-3">
            <img src="/assests/logos/Garmentize-logos_transparent.png" width="75" alt="Garmentize logo">
        </div>
        <div class="col-sm input-group p-3">
            <input type="text" class="form-control" placeholder="Search for any apparel here">
            <button class="input-group-text btn btn-dark">Search</button>
        </div>
        <div class="col-sm p-3 d-flex justify-content-end">
            <a role="button" type="button" class="btn btn-dark ms-3" href="/pages/login/login.html">Login</a>
            <a role="button" type="button" class="btn btn-dark ms-3" href="/pages/cart/cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>
    <div class="row p-0 bg-light">
        <div class="col-sm-2 "></div>
        <div class="col-sm-8 d-flex flex-wrap justify-content-center align-items-center p-3 m-0 navbar">
            <a href="/index.html" class="btn  p-0  mx-2">Home</a>
            <a href="/pages/allProducts/allProducts.html" class="btn p-0 mx-2">All Products</a>
            <div class="dropdown">
                <a class="btn dropdown-toggle p-0 mx-2" data-bs-toggle="dropdown" role="button">Women</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="/pages/women/allProducts/allProducts.html" class="link link-dark link-underline-opacity-0">All</a></li>
                    <li class="dropdown-item"><a href="/pages/women/dresses/dresses.html" class="link link-dark link-underline-opacity-0">Dresses</a></li>
                    <li class="dropdown-item"><a href="/pages/women/pants/pants.html" class="link link-dark link-underline-opacity-0">Pants</a></li>
                    <li class="dropdown-item"><a href="/pages/women/sarees/sarees.html" class="link link-dark link-underline-opacity-0">Sarees</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <a class="btn dropdown-toggle p-0  mx-2" data-bs-toggle="dropdown" role="button">Men</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="/pages/men/allProducts/allProducts.html" class="link link-dark link-underline-opacity-0">All</a></li>
                    <li class="dropdown-item"><a href="/pages/men/shirts/shirts.html" class="link link-dark link-underline-opacity-0">Shirts</a></li>
                    <li class="dropdown-item"><a href="/pages/men/trousers/trousers.html" class="link link-dark link-underline-opacity-0">Trousers</a></li>
                    <li class="dropdown-item"><a href="/pages/men/t-shirts/t-shirts.html" class="link link-dark link-underline-opacity-0">T-Shirts</a></li>
                </ul>
            </div>
            <a href="/pages/kids/kids.html" class="btn  p-0 mx-2">Kids</a>
            <a href="/pages/contact/contact.html" class="btn  p-0 mx-2">Contact</a>
        </div>
        <div class="col-sm-2 "></div>
    </div>
</div>
