<div class="container-fluid h-100">
    <div class="row  bottom-border border-light">
        <div class="col-sm-3 d-flex flex-column justify-content-top align-items-center text-light p-2">
            <h5>Women</h5>
            <a href="/pages/women/allProducts/allProducts.html" class="link link-light link-underline-opacity-0">All</a>
            <a href="/pages/women/dresses/dresses.html" class="link link-light link-underline-opacity-0">Dresses</a>
            <a href="/pages/women/pants/pants.html" class="link link-light link-underline-opacity-0">Pants</a>
            <a href="/pages/women/sarees/sarees.html" class="link link-light link-underline-opacity-0">Sarees</a>
        </div>
        <div class="col-sm-3 d-flex flex-column justify-content-top align-items-center text-light p-2">
            <h5>Men</h5>
            <a href="/pages/men/allProducts/allProducts.html" class="link link-light link-underline-opacity-0">All</a>
            <a href="/pages/men/shirts/shirts.html" class="link link-light link-underline-opacity-0">Shirts</a>
            <a href="/pages/men/trousers/trousers.html" class="link link-light link-underline-opacity-0">Trousers</a>
            <a href="/pages/men/t-shirts/t-shirts.html" class="link link-light link-underline-opacity-0">T-Shirts</a>
        </div>
        <div class="col-sm-3 d-flex flex-column justify-content-top align-items-center text-light p-2">
            <h5>Kids</h5>
            <a href="/pages/kids/kids.html" class="link-light link-underline-opacity-0">All</a>
        </div>
        <div class="col-sm-3 d-flex flex-column justify-content-top align-items-center text-light p-2">
            <h5>Link</h5>
            <a href="/index.html" class="link-light link-underline-opacity-0">Home</a> 
            <a href="/pages/login/login.html" class="link-light link-underline-opacity-0">Login</a>
            <a href="/pages/contact/contact.html" class="link-light link-underline-opacity-0">Contact</a>
        </div>
    </div>
    <hr style="color: white;">
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center text-light">
            <h5>Copyright © Garmentize 2024-205</h5>
        </div>
    </div>
</div>